{% extends 'base.html' %} {% load static %}

{% block title_page %} A Fun Way to Learn Languages {% endblock title_page %}

{% block content %}
<div class="home1">
    <div class="container d-flex align-items-center" style="height: 500px; position: relative; z-index: 1;">
        <div class="row">
            <h1 class="fw-bold text-light my-auto" style="font-size: 48px;">A Fun Way to Learn Languages</h1>
            <button class="home1-btn btn w-25 m-3" type="button">Get Started</button>
        </div>
    </div>
</div>
<div class="home2 container" style="height: 500px">
    <h2 class="my-3 text-center fw-bold">Why Choose LingFun?</h2>
    <div class="row text-center">
        <div class="border col-4">a</div>
        <div class="border col-4">b</div>
        <div class="border col-4">c</div>
    </div>
</div>
{% endblock content %}