{% extends 'base.html' %} {% load static %}

{% block title_page %} {{ user.username }} {% endblock title_page %}

{% block content %}
<div class="container my-5">
    <h3>Hi, {{ user.username }}!</h3>
    <p>
        Email: {{ user.email }} <br>
    </p>
    <div class="border p-3 my-3">
        <h5>My Course:</h5>
        {% for user_course in user_courses %}
        <ul>
            <li><a class="fw-bold" href="{% url 'course' user_course.course.pk %}">{{ user_course.course.title }}</a> - Enrolled on {{ user_course.enrolled_date }}</li>
        </ul>    
        {% endfor %}
    </div>
    <div class="border p-3 my-3">
        <h5>My Group:</h5>
        {% for user_group in user_groups %}
        <ul>
            <li><a class="fw-bold" href="{% url 'group' user_group.group.pk %}">{{ user_group.group.name }}</a> - Joined on {{ user_group.date_joined }}</li>
        </ul>    
        {% endfor %}
    </div>
    <a class="btn btn-danger" href="{% url 'account_logout' %}">Logout</a>
</div>
{% endblock content %}