{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block title_page %} {{ group.name }} {% endblock title_page %}

{% block content %}
<div class="container my-5">
    <h3 class="mb-0 mt-3">{{ group.name }}</h3>
    <span>{{ group.creator.username }}</span>
    <p class="my-3">{{ group.description }}</p>

    {% if user_group %}
    <div class="card p-3 bg-light">
        <h3>Conversation:</h3>
        {% for chat in chats %}
        {% if chat.user == request.user %}
        <div class="card w-50 border-2 border-success rounded ms-auto m-3 p-3">
            <b><span>{{ chat.user.username }} - {{ chat.date_created }}</span></b>
            <p>{{ chat.content }}</p>
        </div>
        {% else %}
        <div class="card w-50 rounded m-3 p-3">
            <b><span>{{ chat.user.username }} - {{ chat.date_created }}</span></b>
            <p>{{ chat.content }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="card mt-5 p-3">
        <h3>Add Chat:</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn text-light fw-bold" style="background-color: #5fcf80;" type="submit" value="Send">
        </form>
    </div>

    {% else %}
    <a class="btn btn-lg text-light fw-bold" style="background-color: #5fcf80;" href="{% url 'join-group' group.pk %}">Join</a>
    {% endif %}
</div>

{% endblock content %}