{% extends 'base.html' %} {% load static %}

{% block title_page %} Group List {% endblock title_page %}

{% block content %}
<div class="container my-5">
    <div class="row">
        {% for group in groups %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="text-decoration-none" href="{% url 'group' group.pk %}">
                <div class="card p-4 my-3 shadow">
                    <h3 class="card-title mt-2">{{ group.name }}</h3>
                    <p>{{ group.description|truncatewords:25 }}</p>
                    <span>Creator: {{ group.creator.username }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}